---
layout: base.njk
scripts:
  - ./index.js
styles:
  - ./index.css
---

<script defer>
  function navData() {
    return {
      scrollPos: 'test',
      ownHeight: null,
      navHeight: null,
      init() {
        console.log('init run')
      },
      onWindowScroll() {
        console.log('scrolling...')
      }
    }
  }
</script>

<span x-ref="wrapper" x-data="navData()" x-init="init" @scroll.window="onWindowScroll">
  <span x-ref="nav-wrap" class="shadow-md w-screen relative">
    {%include "navbar.njk"%}
    <p class="p-3 rounded-full sticky" x-text="scrollPos"></p>
  </span>
  <section class="bg-gradient-to-r from-orange-400 via-red-500 to-pink-500 p-16 flex items-center">
    <span class="container mx-auto">
      <h1 class="text-6xl font-semibold">Coding Safari</h1>
      <p class="text-3xl leading-none font-semibold">A new adventure every day</p>
      <button class="text-2xl font-medium py-2 px-4 rounded-full mt-3 shadow-md
      bg-green-500 hover:bg-green-400 text-white border-none border-transparent flex items-center">
       <span>Explore</span>
      </button>
    </span>
  </section>
</span>

<main>
  <section class="mt-16">
    <div class="container mx-auto">
      <div class="grid grid-cols-3 gap-3">
        {% for quote in quotes -%}
          <article class="bg-white px-6 py-8 rounded-md hover:shadow-md cursor-pointer flex flex-col mb-2">
            <h1 class="text-2xl text-gray-800 leading-loose">{{quote.title}}</h1>
            <p class="text-gray-700 text-xl flex-1">
              {{quote.body}}
            </p>
            <p class="text-gray-600 text-right italic">
              {{quote.author}}
            </p>
          </article>
        {%- endfor %}
      </div>
    </div>
  </section>

  <section class="bg-white py-10">
    <div class="container mx-auto">
      <article>
        <h1 class="text-center text-4xl text-gray-800 leading-loose">
          I am traveling the galaxy with my blue towel
        </h1>
        <p class="text-center text-gray-800 text-2xl">
          “A towel, [The Hitchhiker's Guide to the Galaxy] says, is about the most massively useful thing an interstellar hitchhiker can have. Partly it has great practical value. You can wrap it around you for warmth as you bound across the cold moons of Jaglan Beta; you can lie on it on the brilliant marble-sanded beaches of Santraginus V, inhaling the heady sea vapors; you can sleep under it beneath the stars which shine so redly on the desert world of Kakrafoon; use it to sail a miniraft down the slow heavy River Moth; wet it for use in hand-to-hand-combat; wrap it round your head to ward off noxious fumes or avoid the gaze of the Ravenous Bugblatter Beast of Traal (such a mind-boggingly stupid animal, it assumes that if you can't see it, it can't see you); you can wave your towel in emergencies as a distress signal, and of course dry yourself off with it if it still seems to be clean enough.”
        </p>
        <p class="text-gray-500 italtic text-right">
          ― Douglas Adams, The Hitchhiker's Guide to the Galaxy
        </p>
      </article>
    </div>
  </section>

  <section>
    <div class="container mx-auto">
      <div class="grid grid-cols-1">

        <div class="flex -mx-5 items-center">
          <div class="w-1/3 px-5">
            <div class="border-4 border-dashed p-3">
              <img src="/static/img/placeholder.png" alt="placeholder">
            </div>
          </div>
          <div class="w-2/3 px-5">
            <h1 class="text-4xl text-center text-gray-800 leading-loose">Your Feautre Caption Here</h1>
            <p class="text-center text-2xl text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique a voluptatem quidem magni quisquam aliquam impedit ducimus vel quae doloribus earum quaerat, expedita dolores amet sapiente sed qui recusandae. Qui.</p>
            <p class="text-center text-2xl text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="text-center pt-2">
            </p>

          </div>
        </div>

        <div class="flex -mx-5 items-center my-20">
          <div class="w-2/3 px-5">
            <h1 class="text-4xl text-center text-gray-800 leading-loose">Your Feautre Caption Here</h1>
            <p class="text-center text-2xl text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique a voluptatem quidem magni quisquam aliquam impedit ducimus vel quae doloribus earum quaerat, expedita dolores amet sapiente sed qui recusandae. Qui.</p>
            <p class="text-center text-2xl text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <div class="w-1/3 px-5">
            <div class="border-4 border-dashed p-3">
              <img src="/static/img/placeholder.png" alt="placeholder">
            </div>
          </div>
        </div>

        <div class="flex -mx-5 items-center">
          <div class="w-1/3 px-5">
            <div class="border-4 border-dashed p-3">
              <img src="/static/img/placeholder.png" alt="placeholder">
            </div>
          </div>
          <div class="w-2/3 px-5">
            <h1 class="text-4xl text-center text-gray-800 leading-loose">Your Feautre Caption Here</h1>
            <p class="text-center text-2xl text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique a voluptatem quidem magni quisquam aliquam impedit ducimus vel quae doloribus earum quaerat, expedita dolores amet sapiente sed qui recusandae. Qui.</p>
            <p class="text-center text-2xl text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="container mx-auto">

      <div class="grid grid-cols-2 gap-3">

        {% for i in range(0, 6) -%}
          <article class="bg-white px-3 py-6 rounded-md cursor-pointer hover:shadow-md">
            <h1 class="text-xl text-gray-800">Showcase a Project</h1>
            <ul class="flex text-sm text-gray-600 -mx-1">
              <li class="px-1"><a href="/unix">#unix</a></li>
              <li class="px-1"><a href="/server">#server</a></li>
            </ul>
            <p class="text-xl text-gray-800">
               Voluptates atque at aperiam, nulla officiis dolorum soluta.
            </p>
            <p class="text-sm text-gray-500 leading-loose">2020-01-01</p>
          </article>
        {%- endfor %}
      </div>

    </div>
  </section>

  {% include "footer.njk" %}

</main>