<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "head.njk" %}

    <style>
      {{css | safe}}
    </style>

    <link rel="stylesheet" href="/static/main.css">
    {%- for style in styles -%}
      <link rel="stylesheet" href="{{ style }}">
    {%- endfor -%}
  </head>

  <body>

    {{content | safe}}

    <script src="/static/main.js" type="module"></script>
    {%- for script in scripts -%}
      <script src="{{ script | safe }}"></script>
    {%- endfor -%}
    
  </body>

</html>