<nav class="p-5 border-b bg-white flex items-center">
    <ul class="flex flex-1 -px-2">
        <li class="px-2">
            <h1 class="font-semibold">
                <a href="/">Coding Safari</a>
            </h1>
        </li>
    </ul>
    <ul class="flex flex-1 -px-2">
        <li class="px-2">
            <a href="/">Home</a>
        </li>
        <li class="px-2">
            <a href="/blog/">Blog</a>
        </li>
        <li class="px-2">
            <a href="/Apps/">Apps</a>
        </li>
        <li class="px-2">
            <a href="/contact/">Contact</a>
        </li>
    </ul>
    <ul class="flex -px-2">
        <li class="px-2">
            <a href="{{ " /" | url }}" class="px-4 inline py-2 text-sm font-medium leading-5 shadow text-white transition-colors duration-150 border border-transparent rounded-lg focus:outline-none focus:shadow-outline-blue bg-blue-600 active:bg-blue-600 hover:bg-blue-700">Soothing</a>
        </li>
    </ul>
</nav>